<html>
    <head>
        <title>LOGIN</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>LOGIN PAGE</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('login') }}">
                  <label for="username">Please enter user name:</label>
                  <input type="text" name="username" /><br />
                  <label for="psword">Please enter password:</label>
                  <input type="password" name="psword" /><br />
                  <input type="submit" />
                </form>
            </div>
            
            <div class="title">
                <h1>REGISTER</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('register') }}">
                  <label for="username">Please enter user name:</label>
                  <input type="text" name="username" /><br />
                  <label for="psword">Please enter password:</label>
                  <input type="password" name="psword" /><br />
                  <input type="submit" />
                </form>
            </div>
            
            </div>
        </div>
    </body>
</html>